<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>J2EE_Project</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>util.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncomeController</display-name>
    <servlet-name>IncomeController</servlet-name>
    <servlet-class>controller.IncomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncomeController</servlet-name>
    <url-pattern>/IncomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>model.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WalletDAO</display-name>
    <servlet-name>WalletDAO</servlet-name>
    <servlet-class>dao.WalletDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WalletDAO</servlet-name>
    <url-pattern>/WalletDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenseController</display-name>
    <servlet-name>ExpenseController</servlet-name>
    <servlet-class>controller.ExpenseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenseController</servlet-name>
    <url-pattern>/ExpenseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferController</display-name>
    <servlet-name>TransferController</servlet-name>
    <servlet-class>controller.TransferController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferController</servlet-name>
    <url-pattern>/TransferController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Testing</display-name>
    <servlet-name>Testing</servlet-name>
    <servlet-class>Testing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Testing</servlet-name>
    <url-pattern>/Testing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestingSpace</display-name>
    <servlet-name>TestingSpace</servlet-name>
    <servlet-class>TestingSpace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestingSpace</servlet-name>
    <url-pattern>/TestingSpace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileDAO</display-name>
    <servlet-name>ProfileDAO</servlet-name>
    <servlet-class>dao.ProfileDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileDAO</servlet-name>
    <url-pattern>/ProfileDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAccController</display-name>
    <servlet-name>deleteAccController</servlet-name>
    <servlet-class>controller.deleteAccController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAccController</servlet-name>
    <url-pattern>/deleteAccController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditAmountController</display-name>
    <servlet-name>EditAmountController</servlet-name>
    <servlet-class>controller.EditAmountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAmountController</servlet-name>
    <url-pattern>/EditAmountController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageDAO</display-name>
    <servlet-name>MessageDAO</servlet-name>
    <servlet-class>dao.MessageDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageDAO</servlet-name>
    <url-pattern>/MessageDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageController</display-name>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>controller.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/MessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPosition</display-name>
    <servlet-name>CheckPosition</servlet-name>
    <servlet-class>dao.CheckPosition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPosition</servlet-name>
    <url-pattern>/CheckPosition</url-pattern>
  </servlet-mapping>
</web-app>